@model List_09.ViewModels.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>Article</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Id)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.EAN13)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.EAN13)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Price)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Price)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ExpirationDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ExpirationDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Category)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Category)
    </dd>
</dl>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
@* <div class="col-sm-4">
    <h4>Category image</h4>
    <hr />
    @section RightBody
    {
        <img src="~/images/dairy.jpg" width="300" height="150" />
    }
</div> *@

@section RightBody
{
    <h1></h1>

    <h4>Category image</h4>
    <hr />
    @{
        string imagePath = GetImagePath(Model.Category);
        <img src="@Url.Content(imagePath)" width="430" height="300" />
    }
}

@{
    string GetImagePath(List_09.ViewModels.Category category)
    {
        switch (category)
        {
            case List_09.ViewModels.Category.Bakery:
                return "~/images/bakery.jpg";
            case List_09.ViewModels.Category.Beverage:
                return "~/images/beverage.jpg";
            case List_09.ViewModels.Category.Dairy:
                return "~/images/dairy.jpg"; // Path to the image for Beverage
            case List_09.ViewModels.Category.Meat:
                return "~/images/meat.jpg";
            case List_09.ViewModels.Category.Produce:
                return "~/images/produce.jpg";
            default:
                return "~/images/other.jpg"; // Default image path
        }
    }
}
