@page
@model List_11.Pages.Articles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].EAN13)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Article) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EAN13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (item.ImagePath != null)
                {
                    <img id="uploadedImage" src="@Url.Content(@item.ImagePath)" alt="Uploaded Image" height="50" />
                }
                else
                {
                    <img id="uploadedImage" src="~/image/no_image.png" alt="No-image Image" height="50" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script>
        var img = document.getElementById('uploadedImage');
        img.onload = function () {
            var aspectRatio = img.width / img.height;
            var desiredHeight = 50;
            var calculatedWidth = aspectRatio * desiredHeight;
            img.style.width = calculatedWidth + 'px';
        };
    </script>
}
