@* @model List<Category>

@{
    ViewData["Title"] = "Shop";
}

<h1>Shop</h1>

<div class="row">
    <div class="col-sm-4">
        <form asp-action="Products" asp-controller="Shop">
            <div class="form-group">
                <label for="category" class="control-label">Choose a Category:</label>
                <select id="category" class="form-control" name="categoryId">
                    <option value="">Select a Category</option>
                    @foreach (var category in Model)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>

            <button type="submit">Show Products</button>
        </form>
    </div>

    <div class="col-sm-8">
        <h1>Products</h1>

        @if (Model.Any())
        {
            <div>
                <h3>Products in this Category:</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.EAN13)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ImagePath)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Category)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EAN13)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ImagePath)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Category.Name)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No products found in this category.</p>
        }
    </div>
</div> *@
@model List_10.ViewModels.CategorySelectionViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CategorySelection {
    <h4>Choose a category:</h4>
    <form asp-action="ShowProducts" method="post">
        <div class="form-group">
            <select asp-for="SelectedCategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
        </div>
        <div class="form-group">
            <input type="submit" value="Show" class="btn btn-primary" />
        </div>
    </form>
}

@section ProductsList {
    <h4>Products in selected category:</h4>
    @if (Model.Articles != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Articles[0].EAN13)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Articles[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Articles[0].Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Articles[0].ImagePath)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Articles[0].Category)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Articles)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EAN13)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @if (item.ImagePath != null)
                            {
                                <img id="uploadedImage" src="@Url.Content(@item.ImagePath)" alt="Uploaded Image" height="50" />
                            }
                            else
                            {
                                <img id="uploadedImage" src="~/image/no_image.png" alt="No-image Image" height="50" />
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}