@{
    ViewBag.Title = "Solve";
}
<div class="solve-header">
    <h1>Quadratic equation solver</h1>
</div>

<div class="solve-main_div">
    <div class="solve-main_box">
        <p class="solve-text">Provided equation:</p>
        <div class="solve-equation_box">
            @Html.Raw(@ViewBag.equationString)</p>
        </div>
        <p class="solve-text">Number of solutions: <span class="solve-solutions_number @ViewBag.cssClass">@Html.Raw(@ViewBag.solutionsNumber)</span></p>
        <div class="solve-solutions_box @ViewBag.cssClass">
            @Html.Raw(@ViewBag.solutions)</p>
        </div>
    </div>
</div>