@model List_10.ViewModels.CompoundViewModel

@{
    ViewData["Title"] = "Order confirmation";
}

@if (Model.OrderVM.UserEmail != null)
{
    <div class="justify-content-center">
        <div class="card" style="width: 24rem; margin-bottom: 40px;">
            <div class="card-header">
                <div class="row">
                    <i class="fa fa-check-circle" style="font-size:48px;color:#1e8037;margin-right:15px"></i>
                    <h1>Order confirmed!</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table col-md-12">
                <thead>
                    <tr>
                        <th>
                            <h3>Personal data</h3>
                        </th>
                        <th></th>
                        <th>
                            <h3>Address</h3>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td col-md-2>
                            <h5>User</h5>
                        </td>
                        <td col-md-4>
                            <p>@Model.OrderVM.UserEmail</p>
                        </td>
                        <td col-md-2>
                            <h5>Street</h5>
                        </td>
                        <td col-md-4>
                            <p>@Model.OrderVM.Street</p>
                        </td>
                    </tr>
                    <tr>
                        <td col-md-2>
                            <h5>First Name</h5>
                        </td>
                        <td col-md-4>
                            <p>@Model.OrderVM.FirstName</p>
                        </td>
                        <td col-md-2>
                            <h5>Address lines</h5>
                        </td>
                        <td col-md-4>
                            <p>@( Model.OrderVM.AddressLine1 + " " + Model.OrderVM.AddressLine2 )</p>
                        </td>
                    </tr>
                    <tr>
                        <td col-md-2>
                            <h5>Last Name</h5>
                        </td>
                        <td col-md-4>
                            <p>@Model.OrderVM.LastName</p>
                        </td>
                        <td col-md-2>
                            <h5>City</h5>
                        </td>
                        <td col-md-4>
                            <p>@Model.OrderVM.City</p>
                        </td>
                    </tr>
                    <tr>
                        <td col-md-2>
                            <h5>Email</h5>
                        </td>
                        <td col-md-4>
                            <p>@Model.OrderVM.Email</p>
                        </td>
                        <td col-md-2>
                            <h5>Country</h5>
                        </td>
                        <td col-md-4>
                            <p>@Model.OrderVM.Country</p>
                        </td>
                    </tr>
                    <tr>
                        <td col-md-2>
                            <h5>Payment method</h5>
                        </td>
                        <td col-md-4>
                            <p>@Model.OrderVM.PaymentMethod.Replace('_', ' ')</p>
                        </td>
                        <td col-md-2>
                            <h5>Zip code</h5>
                        </td>
                        <td col-md-4>
                            <p>@Model.OrderVM.Zip</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
