@model List_10.ViewModels.CartViewModel

@{
    ViewData["Title"] = "Summary";
}

@if (Model.cartItems != null && Model.cartItems.Count() > 0)
{
    <h2>Summary</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.cartItems[0].EAN13)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cartItems[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cartItems[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cartItems[0].ImagePath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cartItems[0].CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cartItems[0].Quantity)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.cartItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EAN13)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @if (item.ImagePath != null)
                        {
                            <img id="uploadedImage" src="@Url.Content(@item.ImagePath)" alt="Uploaded Image" height="50" />
                        }
                        else
                        {
                            <img id="uploadedImage" src="~/image/no_image.png" alt="No-image Image" height="40" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        <p>@item.Quantity</p>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot class="table-footer">
            <tr>
                <td>
                    <p>TOTAL:</p>
                </td>
                <td>
                    <p>@Math.Round(Model.cartValue, 2)</p>
                </td>
            </tr>
        </tfoot>
    </table>
}
